<div id="cms_page_editor" class="panel">
    <div v-if="currentPage == undefined">
        <p>No page currently selected for editing</p>
    </div>
    <div v-else>
        <div v-if="mode === 'new'">
            <h2>Create New Page</h2>
            <p>
                <input v-model="editingPage.name" placeholder="Page name">
            </p>
            <p>
                <input v-model="editingPage.createdBy" placeholder="Created by">
            </p>
            <p>
                <input v-model="editingPage.createdWhen" placeholder="Created when">
            </p>
            <p>
                <input v-model="editingPage.displayName" placeholder="Display name">
            </p>
            <p>
                <input v-model="editingPage.description" placeholder="Page description">
            </p>
            <p>
                <button type="button" v-on:click="createNew">Create</button>
                <button type="button" v-on:click="cancelChanges">Cancel</button>
            </p>
        </div>
        <div v-if="mode === 'edit'">
            <h2>Edit Page Details</h2>
            <p>
                <input v-model="editingPage.name" placeholder="Page name">
            </p>
            <p>
                <input v-model="editingPage.createdBy" placeholder="Created by">
            </p>
            <p>
                <input v-model="editingPage.createdWhen" placeholder="Created when">
            </p>
            <p>
                <input v-model="editingPage.displayName" placeholder="Display name">
            </p>
            <p>
                <input v-model="editingPage.description" placeholder="Page description">
            </p>
            <p>
                <button type="button" v-on:click="saveChanges">Save</button>
                <button type="button" v-on:click="cancelChanges">Cancel</button>
            </p>
        </div>
        <div v-if="mode === 'view'">
            <h2>Page Details</h2>
            <p>Name: {{currentPage.name}}</p>
            <p>Created: {{currentPage.createdWhen}} by {{currentPage.createdBy}}</p>
            <p>Show as: {{currentPage.displayName}}</p>
            <p>Description: {{currentPage.description}}</p>
            <p>
                <button type="button" v-on:click="editPage">Edit</button>
                <button type="button" v-on:click="newPage">New</button>
                <button type="button" v-on:click="deletePage">Delete</button>
            </p>
        </div>
        <div v-if="mode === 'delete'">
            <h2>Confirm Page Deletion</h2>
            <p>This will delete all versions of the "{{currentPage.name}}" page in all versions of the website</p>
            <p>
                <button type="button" v-on:click="confirmDelete">Delete</button>
                <button type="button" v-on:click="cancelChanges">Cancel</button>
            </p>
        </div>
    </div>
</div>