<div id="cms_page_editor" class="cms_panel" v-if="visible">
    <div v-if="currentPage == undefined && mode === 'view'">
        <h2>No page selected</h2>
        <p>
            No page currently selected for editing. Choose a page from the list on the left. If the
            list of pages is empty this is because the selected website version contains no pages.
        </p>
        <div class="cms_button_bar">
            <button type="button" v-on:click="newPage">New</button>
        </div>
    </div>
    <div v-else>
        <div v-if="mode === 'new' || mode === 'edit'">
            <h2 v-if="mode === 'new'">Create New Page</h2>
            <h2 v-if="mode === 'edit'">Edit Page Details</h2>
            <label class="cms_field">Show as</label>
            <input type="text" class="cms_field__display_name" v-model="editingPage.displayName" placeholder="Display name" v-bind:pattern="displayNamePattern" required>
            <label class="cms_field">Name</label>
            <input type="text" class="cms_field__name" v-model="editingPage.name" placeholder="unique_name" v-bind:pattern="namePattern" required>
            <label class="cms_field">Description</label>
            <textarea class="cms_field__description" v-model="editingPage.description" placeholder="Optional description"></textarea>
            <div class="cms_validation_error_list" v-if="errors.length > 0">
                <p v-for="error in errors">{{error}}</p>
            </div>
            <div class="cms_button_bar">
                <button v-if="mode === 'new'" type="button" v-on:click="createNew">Create</button>
                <button v-if="mode === 'edit'" type="button" v-on:click="saveChanges">Save</button>
                <button type="button" v-on:click="cancelChanges">Cancel</button>
            </div>
        </div>
        <div v-if="mode === 'view'">
            <h2>{{currentPage.displayName}} page</h2>
            <label class="cms_field">Name</label>
            <p class="cms_field">{{currentPage.name}}</p>
            <label class="cms_field">Created</label>
            <p class="cms_field">{{currentPage.createdWhen | cms_formatDate}} by {{currentPage.createdBy | cms_formatUserUrn}}</p>
            <label class="cms_field">Description</label>
            <p class="cms_field">{{currentPage.description}}</p>
            <div class="cms_button_bar">
                <button type="button" v-on:click="editPage">Edit</button>
                <button type="button" v-on:click="newPage">New</button>
                <button type="button" v-on:click="deletePage">Delete</button>
            </div>
            <div class="cms_spacer_medium">&nbsp;</div>
            <h2>{{currentPage.displayName}} page versions</h2>
        </div>
        <div v-if="mode === 'delete'">
            <h2>Confirm Page Deletion</h2>
            <p>This will delete all versions of the "{{currentPage.name}}" page in all versions of the website</p>
            <div class="cms_button_bar">
                <button type="button" v-on:click="confirmDelete">Delete</button>
                <button type="button" v-on:click="cancelChanges">Cancel</button>
            </div>
        </div>
    </div>
</div>