<div id="cms_page_editor" class="cms_panel" v-if="visible">
    <div v-if="currentPage == undefined && pageMode === 'view'">
        <h2>No page selected</h2>
        <p>
            No page currently selected for editing. Choose a page from the list on the left. If the
            list of pages is empty this is because the selected website version contains no pages.
        </p>
        <div class="cms_button_bar">
            <button type="button" v-on:click="newPage">New</button>
        </div>
    </div>
    <div v-else>
        <div v-if="pageMode === 'new' || pageMode === 'edit'">
            <h2 v-if="pageMode === 'new'">Create New Page</h2>
            <h2 v-if="pageMode === 'edit'">Edit Page Details</h2>
            <label class="cms_field">Show as</label>
            <input type="text" class="cms_field__display_name" v-model="editingPage.displayName" placeholder="Display name" v-bind:pattern="displayNamePattern" required>
            <label class="cms_field">Name</label>
            <input type="text" class="cms_field__name" v-model="editingPage.name" placeholder="unique_name" v-bind:pattern="namePattern" required>
            <label class="cms_field">Description</label>
            <textarea class="cms_field__description" v-model="editingPage.description" placeholder="Optional description"></textarea>
            <div class="cms_validation_error_list" v-if="errors.length > 0">
                <p v-for="error in errors">{{error}}</p>
            </div>
            <div class="cms_button_bar">
                <button v-if="pageMode === 'new'" type="button" v-on:click="createNew">Create</button>
                <button v-if="pageMode === 'edit'" type="button" v-on:click="saveChanges">Save</button>
                <button type="button" v-on:click="cancelChanges">Cancel</button>
            </div>
        </div>
        <div v-if="pageMode === 'view'">
            <h2>{{currentPage.displayName}} page</h2>
            <label class="cms_field">Name</label>
            <p class="cms_field">{{currentPage.name}}</p>
            <label class="cms_field">Description</label>
            <p class="cms_field">{{currentPage.description}}</p>
            <label class="cms_field">Created</label>
            <p class="cms_field">{{currentPage.createdWhen | cms_formatDate}} by {{currentPage.createdBy | cms_formatUserUrn}}</p>
            <div class="cms_button_bar">
                <button type="button" v-on:click="editPage">Edit</button>
                <button type="button" v-on:click="newPage">New</button>
                <button type="button" v-on:click="deletePage">Delete</button>
            </div>
            <div class="cms_spacer_medium">&nbsp;</div>
        </div>
        <div v-if="pageMode === 'delete'">
            <h2>Confirm Page Deletion</h2>
            <p>This will delete all versions of the "{{currentPage.name}}" page in all versions of the website</p>
            <div class="cms_button_bar">
                <button type="button" v-on:click="confirmDelete">Delete</button>
                <button type="button" v-on:click="cancelChanges">Cancel</button>
            </div>
        </div>

        <div v-if="currentPageVersion == undefined && pageVersionMode === 'view'">
            <h2>No page version in website version</h2>
            <p>
                There is no version of this page in the selected website version. To
                select a version of this page to use in this version of the website
                tap on the 'Choose Version' button.
            </p>
            <div class="cms_button_bar">
                <button type="button" v-on:click="choosePageVersion">Choose Version</button>
            </div>
        </div>
        <div v-else>
            <div v-if="pageVersionMode === 'new' || pageVersionMode === 'edit'">
                <h2 v-if="pageVersionMode === 'new'">Create New Version</h2>
                <h2 v-if="pageVersionMode === 'edit'">Edit Page Version</h2>

                <label class="cms_field">Title</label>
                <input type="text" class="cms_field__title" v-model="editingPageVersion.title" placeholder="Page title" v-bind:pattern="titlePattern">

                <label class="cms_field">Canonical URL path</label>
                <input type="text" class="cms_field__canonical_url" v-model="editingPageVersion.canonicalUrl" placeholder="/path/to/page" v-bind:pattern="urlPathPattern">

                <label class="cms_field">Routes to this page</label>
                <p>-- needs a component add/edit/delete routes --</p>

                <label class="cms_field">Master page</label>
                <pagedropdown v-bind:page-id="editingPageVersion.masterPageId" v-bind:exclude="[editingPageVersion.elementId]" @page-selected="masterPageSelected"></pagedropdown>

                <label class="cms_field">Asset deployment</label>
                <assetdeploymentdropdown v-bind:asset-deployment="editingPageVersion.assetDeployment" @asset-deployment-selected="assetDeploymentSelected"></assetdeploymentdropdown>
                <label v-if="editingPageVersion.assetDeployment==='PerModule'" class="cms_field">Module name</label>
                <input v-if="editingPageVersion.assetDeployment==='PerModule'" type="text" class="cms_field__module" v-model="editingPageVersion.moduleName" placeholder="module_name" v-bind:pattern="namePattern">

                <label class="cms_field">Page layout</label>
                <p>-- needs a component choose layout or inherit from master page --</p>

                <label class="cms_field">Layout zone contents</label>
                <p>-- needs a component set zones or inherit from master page--</p>

                <label class="cms_field">Body style</label>
                <input type="text" class="cms_field__body_style" v-model="editingPageVersion.bodyStyle" placeholder="font-family: arial; font-size: large;" v-bind:pattern="cssPattern">

                <label class="cms_field">Permission required to view this page</label>
                <input type="text" class="cms_field__permission" v-model="editingPageVersion.permission" placeholder="content:editor" v-bind:pattern="permissionPattern">

                <label class="cms_field">Permission asset path</label>
                <input type="text" class="cms_field__asset_path" v-model="editingPageVersion.assetPath" placeholder="/user/profile/image" v-bind:pattern="pathPattern">

                <label class="cms_field">Description</label>
                <textarea class="cms_field__description" v-model="editingPageVersion.description" placeholder="Optional description"></textarea>

                <div class="cms_validation_error_list" v-if="versionErrors.length > 0">
                    <p v-for="error in versionErrors">{{error}}</p>
                </div>
                <div class="cms_button_bar">
                    <button v-if="pageVersionMode === 'new'" type="button" v-on:click="createNewVersion">Create</button>
                    <button v-if="pageVersionMode === 'edit'" type="button" v-on:click="saveVersionChanges">Save</button>
                    <button type="button" v-on:click="cancelVersionChanges">Cancel</button>
                </div>
            </div>
            <div v-if="pageVersionMode === 'view'">
                <h2>Version {{currentPageVersion.version}} of the {{currentPage.displayName}} page</h2>
                <label class="cms_field">Page title</label>
                <p class="cms_field">{{currentPageVersion.title}}</p>
                <label class="cms_field">Canonical URL</label>
                <p class="cms_field">{{currentPageVersion.canonicalUrl}}</p>
                <label class="cms_field">Routes to this page</label>
                <p v-for="route in currentPageVersion.routes" class="cms_field">{{route.path}}</p>
                <label class="cms_field">Assets</label>
                <p class="cms_field">{{currentPageVersion.assetDeployment}}<span v-if="currentPageVersion.assetDeployment==='PerModule'"> in the {{currentPageVersion.moduleName}} module</span></p>
                <label v-if="currentPageVersion.masterPageId" class="cms_field">Inherits from master page</label>
                <p v-if="currentPageVersion.masterPageId" class="cms_field">{{currentPageVersion.masterPageId | cms_lookupPageId}}</p>
                <label class="cms_field">Page layout</label>
                <p v-if="currentPageVersion.layoutName" class="cms_field">{{currentPageVersion.layoutName}}</p>
                <p v-else class="cms_field">{{currentPageVersion.layoutId | cms_lookupLayoutId}}</p>
                <label class="cms_field">Layout zones</label>
                <p v-for="layoutZone in currentPageVersion.layoutZones" class="cms_field">
                    The {{layoutZone.zone}} zone contains the
                    <span v-if="layoutZone.regionId">{{layoutZone.regionId | cms_lookupRegionId}} region</span>
                    <span v-if="layoutZone.layoutId">{{layoutZone.layoutId | cms_lookupLayoutId}} layout</span>
                    <span v-if="layoutZone.contentType">{{layoutZone.contentType.toLowerCase()}} defined in code as '{{layoutZone.contentName}}'</span>
                </p>
                <label v-if="currentPageVersion.bodyStyle" class="cms_field">Body CSS style</label>
                <p v-if="currentPageVersion.bodyStyle" class="cms_field">{{currentPageVersion.bodyStyle}}</p>
                <label v-if="currentPageVersion.permission" class="cms_field">Requires permission</label>
                <p v-if="currentPageVersion.permission" class="cms_field">{{currentPageVersion.permission}}<span v-if="currentPageVersion.assetPath"> on {{currentPageVersion.assetPath}}</span></p>
                <label class="cms_field">Description</label>
                <p class="cms_field">{{currentPageVersion.description}}</p>
                <label class="cms_field">Created</label>
                <p class="cms_field">{{currentPageVersion.createdWhen | cms_formatDate}} by {{currentPageVersion.createdBy | cms_formatUserUrn}}</p>
                <div class="cms_button_bar">
                    <button type="button" v-on:click="choosePageVersion">Versions</button>
                    <button type="button" v-on:click="editPageVersion">Edit</button>
                    <button type="button" v-on:click="newPageVersion">New</button>
                    <button type="button" v-on:click="deletePageVersion">Delete</button>
                </div>
                <div class="cms_spacer_medium">&nbsp;</div>
            </div>
            <div v-if="pageVersionMode === 'delete'">
                <h2>Confirm Page Version Deletion</h2>
                <p>
                    This will delete version {{currentPageVersion.version}} of the {{currentPage.displayName}} page.
                    This page will disapear from any versions of the website that use this version of
                    the {{currentPage.displayName}} page.
                </p>
                <p>Are you sure?</p>
                <div class="cms_button_bar">
                    <button type="button" v-on:click="confirmDeleteVersion">Delete</button>
                    <button type="button" v-on:click="cancelVersionChanges">Cancel</button>
                </div>
            </div>
            <div v-if="pageVersionMode === 'choose'">
                <h2>Choose Page Version</h2>
                <p>
                    Which version of the {{currentPage.displayName}} page do you want to use for the
                    {{websiteVersion.displayName}} version of the website?
                </p>
                <div class="cms_button_bar">
                    <button type="button" v-on:click="cancelVersionChanges">Done</button>
                </div>
            </div>
        </div>
    </div>
</div>