<div id="cms_page_editor" class="cms_panel" v-if="visible">
    <cms-modal-dialog
                      v-bind:title="modalDialogTitle"
                      v-bind:message="modalDialogMessage"
                      v-bind:buttons="modalDialogButtons"
                      v-bind:visible="modalDialogVisible"
                      @close="modalDialogVisible = false">
    </cms-modal-dialog>
    <cms-tabs>
        <cms-tab name="Details" selected="true">
            <div v-if="currentPage == undefined && pageMode === 'view'">
                <h2>No page selected</h2>
                <p>
                    No page currently selected for editing.
                    Choose a page from the list on the left.
                    If the list of pages is empty this is because the selected website version contains no pages.
                </p>
                <div class="cms_button_bar">
                    <button type="button" v-on:click="newPage">New</button>
                </div>
            </div>
            <div v-else>
                <div v-if="pageMode === 'new' || pageMode === 'edit'">
                    <cms-edit-page v-bind:page="editingPage"
                                   v-bind:page-version="editingPagePageVersion"
                                   v-bind:is-new="pageMode === 'new'">
                    </cms-edit-page>
                    <div class="cms_validation_error_list" v-if="errors.length > 0">
                        <p v-for="error in errors">{{error}}</p>
                    </div>
                    <div class="cms_button_bar">
                        <button v-if="pageMode === 'new'" type="button" v-on:click="createNew">Create</button>
                        <button v-if="pageMode === 'edit'" type="button" v-on:click="saveChanges">Save</button>
                        <button type="button" v-on:click="cancelChanges">Cancel</button>
                    </div>
                </div>
                <div v-if="pageMode === 'view'">
                    <cms-view-page-detail v-bind:page="currentPage"></cms-view-page-detail>
                    <div class="cms_button_bar">
                        <button type="button" v-on:click="editPage">Edit</button>
                        <button type="button" v-on:click="newPage">New</button>
                        <button type="button" v-on:click="deletePage">Delete</button>
                    </div>
                    <div class="cms_spacer_medium">&nbsp;</div>
                </div>
                <div v-if="pageMode === 'delete'">
                    <h2>Confirm Page Deletion</h2>
                    <p>This will delete all versions of the "{{currentPage.name}}" page in all versions of the website</p>
                </div>

                <div v-if="websiteVersion && websiteVersion.recordId">
                    <div v-if="currentPageVersion == undefined && pageVersionMode === 'view'">
                        <div v-if="scenario == undefined">
                            <h2>No version of this page in this version of the website</h2>
                            <p>
                                There is no version of this page in the selected website version.
                            </p>
                            <p>
                                To select a version of this page to use in this version of the website
                                tap on the 'Choose Version' button.
                            </p>
                        </div>
                        <div v-else>
                            <h2>The {{scenario.displayName|cms_lowercase}} scenario uses the standard page version</h2>
                            <p>
                                This page uses the page version defined for the website version when the '{{scenario.displayName}}'
                                a/b testing scenario is in use.
                            </p>
                            <p>
                                If you want to change the page version that should be used for the
                                '{{scenario.displayName}}' a/b testing scenario, tap on the 'Choose Version' button.
                            </p>
                        </div>
                        <div class="cms_button_bar">
                            <button type="button" v-on:click="choosePageVersion">Choose Version</button>
                            <button type="button" v-on:click="newPageVersion">New Version</button>
                        </div>
                    </div>
                    <div v-else>
                        <div v-if="pageVersionMode === 'new' || pageVersionMode === 'edit'">
                            <cms-edit-page-version v-bind:page="currentPage"
                                                   v-bind:page-version="editingPageVersion"
                                                   v-bind:is-new="pageVersionMode === 'new'">
                            </cms-edit-page-version>
                            <div class="cms_validation_error_list" v-if="versionErrors.length > 0">
                                <p v-for="error in versionErrors">{{error}}</p>
                            </div>
                            <div class="cms_button_bar">
                                <button v-if="pageVersionMode === 'new'" type="button" v-on:click="createNewVersion">Create</button>
                                <button v-if="pageVersionMode === 'edit'" type="button" v-on:click="saveVersionChanges">Save</button>
                                <button type="button" v-on:click="cancelVersionChanges">Cancel</button>
                            </div>
                        </div>
                        <div v-if="pageVersionMode === 'view'">
                            <cms-view-page-version-detail v-bind:page-version="currentPageVersion" 
                                                          v-bind:page="currentPage">
                            </cms-view-page-version-detail>
                            <div class="cms_button_bar">
                                <button type="button" v-on:click="choosePageVersion">Choose</button>
                                <button type="button" v-on:click="editPageVersion">Edit</button>
                                <button type="button" v-on:click="newPageVersion">Copy</button>
                                <button type="button" v-on:click="deleteCurrentPageVersion">Delete</button>
                            </div>
                            <div class="cms_spacer_medium">&nbsp;</div>
                        </div>
                        <div v-if="pageVersionMode === 'delete'">
                            <h2>Confirm Page Version Deletion</h2>
                            <p>
                                This will delete version {{currentPageVersion.version}} of the {{currentPage.displayName}} page.
                                This page will disapear from any versions of the website that use this version of
                                the {{currentPage.displayName}} page.
                            </p>
                        </div>
                        <div v-if="pageVersionMode === 'choose'">
                            <h2>Choose Page Version</h2>
                            <p>
                                Which version of the {{currentPage.displayName}} page do you want to use for the
                                {{websiteVersion.displayName}} version of the website
                                <span v-if="scenario"> when the {{scenario.displayName|cms_lowercase}} a/b testing scenario is in use</span>?
                            </p>
                            <cms-choose-element-version v-bind:element-type="currentPage.recordType"
                                                        v-bind:element-id="currentPage.recordId"
                                                        v-bind:selected-version-id="currentPageVersion == undefined ? null : currentPageVersion.recordId"
                                                        @select-version="selectPageVersion"
                                                        @copy-version="copySelectedPageVersion">
                            </cms-choose-element-version>
                            <div class="cms_button_bar">
                                <button type="button" v-on:click="updatePageVersion">Update</button>
                                <button type="button" v-on:click="clearPageVersion">None</button>
                                <button type="button" v-on:click="cancelVersionChanges">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </cms-tab>
        <cms-tab name="Preview">
            <cms-page-preview v-if="currentPageVersion" v-bind:page-version="currentPageVersion"></cms-page-preview>
        </cms-tab>
        <cms-tab name="Versions">
            <div v-if="currentPage == undefined || currentPage.recordId == undefined">
                <p>Choose a page from the list on the left to compare versions of this page</p>
            </div>
            <div v-else>
                <h2>Compare versions of the {{currentPage.displayName|cms_lowercase}} page</h2>
                <p>Choose versions to compare from the list below</p>
                <cms-multi-select-element-versions v-bind:element-type="currentPage.recordType"
                                                   v-bind:element-id="currentPage.recordId"
                                                   v-bind:show-delete-button="true"
                                                   @toggle-version="togglePageVersion"
                                                   @delete-version="deleteChoosePageVersion">
                </cms-multi-select-element-versions>
                <h2>Comparison matrix</h2>
                <p>Use the table below to compare the selected versions</p>
                <table>
                    <tr><td></td><th v-for="version in comparePageVersions">{{version.displayName}}</th></tr>
                    <tr><th>Version</th><td v-for="version in comparePageVersions">{{version.version}}</td></tr>
                    <tr><th>Title</th><td v-for="version in comparePageVersions">{{version.title}}</td></tr>
                    <tr><th>URL</th><td v-for="version in comparePageVersions">{{version.canonicalUrl}}</td></tr>
                    <tr><th>Routes</th><td v-for="version in comparePageVersions"><ul><li v-for="route in version.routes">{{route.path}}</li></ul></td></tr>
                    <tr><th>Assets</th><td v-for="version in comparePageVersions"><span v-if="version.assetDeployment==='PerModule'">{{version.moduleName}} module</span><span v-else>{{version.assetDeployment}}</span></td></tr>
                    <tr><th>Master page</th><td v-for="version in comparePageVersions">{{version.masterPageId | cms_lookupPageId}}</td></tr>
                    <tr>
                        <th>Layout</th>
                        <td v-for="version in comparePageVersions">
                            <p v-if="version.layoutName" class="cms_field">{{version.layoutName}}</p>
                            <p v-else>{{version.layoutId | cms_lookupLayoutId}}</p>
                            <p v-for="layoutZone in version.layoutZones">
                                The {{layoutZone.zone}} layout zone contains
                                <span v-if="layoutZone.regionId">the {{layoutZone.regionId | cms_lookupRegionId}} region</span>
                                <span v-else-if="layoutZone.layoutId">the {{layoutZone.layoutId | cms_lookupLayoutId}} layout</span>
                                <span v-else-if="layoutZone.layoutId">the {{layoutZone.componentId | cms_lookupComponentId}} component</span>
                                <span v-else-if="layoutZone.contentType === 'Html'">HTML localizable as '{{layoutZone.contentName}}'</span>
                                <span v-else-if="layoutZone.contentType === 'Template'">the {{layoutZone.contentName}} template</span>
                                <span v-else-if="layoutZone.contentType">the '{{layoutZone.contentName}}' {{layoutZone.contentType | cms_lowercase}}</span>
                                <span v-else>the default content defined by the layout</span>
                            </p>
                        </td>
                    </tr>
                    <tr><th>Body style</th><td v-for="version in comparePageVersions">{{version.bodyStyle}}</td></tr>
                    <tr><th>Requires permission</th><td v-for="version in comparePageVersions">{{version.permission}}</td></tr>
                    <tr>
                        <th>Components</th>
                        <td v-for="version in comparePageVersions">
                            <p v-for="component in version.components">
                                <span v-if="component.componentId">{{component.componentId|cms_lookupComponentId}}</span>
                                <span v-else-if="component.component">{{component.component}}</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>Data types</th>
                        <td v-for="version in comparePageVersions">
                            <p v-for="dataType in version.dataTypes">{{dataType.dataTypeId|cms_lookupDataTypeId}}</p>
                        </td>
                    </tr>
                    <tr>
                        <th>Data scopes</th>
                        <td v-for="version in comparePageVersions">
                            <p v-for="dataScope in version.dataScopes">{{dataScope.dataScopeId|cms_lookupDataScopeId}}</p>
                        </td>
                    </tr>
                </table>
            </div>
        </cms-tab>
        <cms-tab name="History">
            <div v-if="currentPage == undefined || currentPage.recordId == undefined">
                <p>
                    No page currently selected for history.
                    Choose a page from the list on the left.
                    If the list of pages is empty this is because the selected website version contains no pages.
                </p>
            </div>
            <div v-else>
                <cms-history-period v-if="currentPageVersion == undefined || currentPageVersion.recordId == undefined"
                                    v-bind:label="currentPage.displayName + ' page change history'"
                                    v-bind:record-type="currentPage.recordType"
                                    v-bind:record-id="currentPage.recordId">
                </cms-history-period>
                <cms-history-period v-else
                                    v-bind:label="currentPage.displayName + ' page version ' + currentPageVersion.version + ' change history'"
                                    v-bind:record-type="currentPageVersion.recordType"
                                    v-bind:record-id="currentPageVersion.recordId">
                </cms-history-period>
            </div>
        </cms-tab>
    </cms-tabs>
</div>
