<div id="cms_region_editor" class="cms_panel" v-if="visible">
    <cms-modal-dialog
                      v-bind:title="modalDialogTitle"
                      v-bind:message="modalDialogMessage"
                      v-bind:buttons="modalDialogButtons"
                      v-bind:visible="modalDialogVisible"
                      @close="modalDialogVisible = false">
    </cms-modal-dialog>
    <cms-tabs>
        <cms-tab name="Details" selected="true">
            <div v-if="currentRegion == undefined && regionMode === 'view'">
                <h2>No region selected</h2>
                <p>
                    No region currently selected for editing.
                    Choose a region from the list on the left.
                    If the list of regions is empty this is because the selected website version contains no regions.
                </p>
                <div class="cms_button_bar">
                    <button type="button" v-on:click="newRegion">New</button>
                </div>
            </div>
            <div v-else>
                <div v-if="regionMode === 'new' || regionMode === 'edit'">
                    <h2 v-if="regionMode === 'new'">Create New Region</h2>
                    <h2 v-if="regionMode === 'edit'">Edit Region Details</h2>
                    <div class="cms_edit_panel">
                        <cms-display-name-field-editor label="Display this region in CMS manager as"
                                                       placeholder="My region"
                                                       v-bind:display-name="editingRegion.displayName"
                                                       @display-name-changed="editingRegion.displayName=$event">
                        </cms-display-name-field-editor>
                        <cms-element-name-field-editor label="Region name"
                                                       placeholder="unique_region_name"
                                                       v-bind:element-name="editingRegion.name"
                                                       @element-name-changed="editingRegion.name=$event">
                        </cms-element-name-field-editor>
                        <cms-description-field-editor v-bind:description="editingRegion.description || ''"
                                                      @description-changed="editingRegion.description=$event">
                        </cms-description-field-editor>
                    </div>
                    <div class="cms_validation_error_list" v-if="errors.length > 0">
                        <p v-for="error in errors">{{error}}</p>
                    </div>
                    <div class="cms_button_bar">
                        <button v-if="regionMode === 'new'" type="button" v-on:click="createNew">Create</button>
                        <button v-if="regionMode === 'edit'" type="button" v-on:click="saveChanges">Save</button>
                        <button type="button" v-on:click="cancelChanges">Cancel</button>
                    </div>
                </div>
                <div v-if="regionMode === 'view'">
                    <h2>{{currentRegion.displayName}} region</h2>
                    <div class="cms_field">
                        <label>Name</label>
                        <p>{{currentRegion.name}}</p>
                    </div>
                    <div v-if="currentRegion.description" class="cms_field">
                        <label>Description</label>
                        <p>{{currentRegion.description}}</p>
                    </div>
                    <div class="cms_field">
                        <label>Created</label>
                        <p>{{currentRegion.createdWhen|cms_formatDateTime}} by {{currentRegion.createdBy|cms_formatUserUrn}}</p>
                    </div>
                    <div class="cms_button_bar">
                        <button type="button" v-on:click="editRegion">Edit</button>
                        <button type="button" v-on:click="newRegion">New</button>
                        <button type="button" v-on:click="deleteRegion">Delete</button>
                    </div>
                    <div class="cms_spacer_medium">&nbsp;</div>
                </div>
                <div v-if="regionMode === 'delete'">
                    <h2>Confirm Region Deletion</h2>
                    <p>This will delete all versions of the "{{currentRegion.name}}" region in all versions of the website</p>
                </div>

                <div v-if="websiteVersion && websiteVersion.recordId">
                    <div v-if="currentRegionVersion == undefined && regionVersionMode === 'view'">
                        <div v-if="scenario == undefined">
                            <h2>No version of this region in this version of the website</h2>
                            <p>
                                There is no version of this region in the selected website version.
                            </p>
                            <p>
                                To select a version of this region to use in this version of the website
                                tap on the 'Choose Version' button.
                            </p>
                        </div>
                        <div v-else>
                            <h2>The {{scenario.displayName|cms_lowercase}} scenario uses the standard region version</h2>
                            <p>
                                This region uses the region version defined for the website version when the '{{scenario.displayName}}'
                                a/b testing scenario is in use.
                            </p>
                            <p>
                                If you want to change the region version that should be used for the
                                '{{scenario.displayName}}' a/b testing scenario, tap on the 'Choose Version' button.
                            </p>
                        </div>
                        <div class="cms_button_bar">
                            <button type="button" v-on:click="chooseRegionVersion">Choose Version</button>
                            <button type="button" v-on:click="newRegionVersion">New Version</button>
                        </div>
                    </div>
                    <div v-else>
                        <div v-if="regionVersionMode === 'new' || regionVersionMode === 'edit'">
                            <h2 v-if="regionVersionMode === 'new'">Create New Region Version</h2>
                            <h2 v-if="regionVersionMode === 'edit'">Edit Version {{editingRegionVersion.version}} of the {{currentRegion.displayName|cms_lowercase}} region</h2>
                            <div class="cms_edit_panel">
                                <cms-display-name-field-editor label="Name this version of the region"
                                                               placeholder="Version 1"
                                                               v-bind:display-name="editingRegionVersion.displayName"
                                                               @display-name-changed="editingRegionVersion.displayName=$event">
                                </cms-display-name-field-editor>
                                <cms-description-field-editor v-bind:description="editingRegionVersion.description || ''"
                                                              @description-changed="editingRegionVersion.description=$event">
                                </cms-description-field-editor>
                            </div>

                            <div class="cms_edit_panel">
                                <h3>Asset deployment</h3>
                                <cms-asset-deployment-field-editor label=""
                                                                   inherit-option="Inherit from parent element"
                                                                   v-bind:asset-deployment="editingRegionVersion.assetDeployment"
                                                                   v-bind:module-name="editingRegionVersion.moduleName"
                                                                   @asset-deployment-changed="editingRegionVersion.assetDeployment=$event"
                                                                   @module-name-changed="editingRegionVersion.moduleName=$event">
                                </cms-asset-deployment-field-editor>
                            </div>

                            <div class="cms_edit_panel">
                                <h3>Content</h3>
                                <cms-region-content-editor v-bind:region-version="editingRegionVersion">
                                </cms-region-content-editor>
                            </div>

                            <div class="cms_edit_panel">
                                <h2>Data binding</h2>
                                <cms-data-scopes-field-editor label="Region data scopes"
                                                              v-bind:scopes="editingRegionVersion.dataScopes">
                                </cms-data-scopes-field-editor>
                                <cms-data-types-field-editor label="Region data needs"
                                                             v-bind:scopes="editingRegionVersion.dataTypes">
                                </cms-data-types-field-editor>
                            </div>

                            <div class="cms_edit_panel">
                                <h3>Data repeater</h3>
                                <cms-data-type-field-editor label="Data type"
                                                            v-bind:data-type-id="editingRegionVersion.repeatDataTypeId"
                                                            @data-type-id-changed="editingRegionVersion.repeatDataTypeId=$event">
                                </cms-data-type-field-editor>
                                <cms-data-scope-field-editor label="Data scope"
                                                             v-bind:data-scope-id="editingRegionVersion.repeatDataScopeId"
                                                             v-bind:data-scope-name="editingRegionVersion.repeatDataScopeName"
                                                             @data-scope-id-changed="editingRegionVersion.repeatDataScopeId=$event"
                                                             @data-scope-name-changed="editingRegionVersion.repeatDataScopeName=$event">
                                </cms-data-scope-field-editor>
                            </div>

                            <div class="cms_edit_panel">
                                <h3>Repeated elements</h3>
                                <cms-html-tag-field-editor label="Html tag"
                                                           v-bind:html-tag="editingRegionVersion.listElementTag"
                                                           @html-tag-changed="editingRegionVersion.listElementTag=$event">
                                </cms-html-tag-field-editor>
                                <cms-style-field-editor label="Custom style"
                                                        v-bind:css-style="editingRegionVersion.listElementStyle"
                                                        @css-style-changed="editingRegionVersion.listElementStyle=$event">
                                </cms-style-field-editor>
                                <cms-css-classes-field-editor label="Additional CSS classes"
                                                              v-bind:css-classes="editingRegionVersion.listElementClasses"
                                                              @css-classes-changed="editingRegionVersion.listElementClasses=$event">
                                </cms-css-classes-field-editor>
                                <cms-data-scope-field-editor label="Data scope"
                                                             v-bind:data-scope-id="editingRegionVersion.listDataScopeId"
                                                             v-bind:data-scope-name="editingRegionVersion.listDataScopeName"
                                                             @data-scope-id-changed="editingRegionVersion.listDataScopeId=$event"
                                                             @data-scope-name-changed="editingRegionVersion.listDataScopeName=$event">
                                </cms-data-scope-field-editor>
                            </div>

                            <div class="cms_validation_error_list" v-if="versionErrors.length > 0">
                                <p v-for="error in versionErrors">{{error}}</p>
                            </div>
                            <div class="cms_button_bar">
                                <button v-if="regionVersionMode === 'new'" type="button" v-on:click="createNewVersion">Create</button>
                                <button v-if="regionVersionMode === 'edit'" type="button" v-on:click="saveVersionChanges">Save</button>
                                <button type="button" v-on:click="cancelVersionChanges">Cancel</button>
                            </div>
                        </div>
                        <div v-if="regionVersionMode === 'view'">
                            <h2>Version {{currentRegionVersion.version}} of the {{currentRegion.displayName}} region</h2>
                            <div class="cms_field" v-if="currentRegionVersion.displayName">
                                <label>Version name</label>
                                <p>{{currentRegionVersion.displayName}}</p>
                            </div>
                            <div class="cms_field" v-if="currentRegionVersion.routes && currentRegionVersion.routes.length > 0">
                                <label>Routes to this region</label>
                                <p v-for="route in currentRegionVersion.routes">{{route.path}}</p>
                            </div>
                            <div class="cms_field">
                                <label>Assets</label>
                                <p>{{currentRegionVersion.assetDeployment}}<span v-if="currentRegionVersion.assetDeployment==='PerModule'"> in the {{currentRegionVersion.moduleName}} module</span></p>
                            </div>

                            <div class="cms_field" v-if="currentRegionVersion.layoutName || currentRegionVersion.layoutId">
                                <label>Region layout</label>
                                <p v-if="currentRegionVersion.layoutName" class="cms_field">{{currentRegionVersion.layoutName}}</p>
                                <p v-else class="cms_field">{{currentRegionVersion.layoutId | cms_lookupLayoutId}}</p>
                                <p v-for="layoutZone in currentRegionVersion.layoutZones" class="cms_field">
                                    The {{layoutZone.zone}} layout zone contains
                                    <span v-if="layoutZone.regionId">the {{layoutZone.regionId | cms_lookupRegionId}} region</span>
                                    <span v-else-if="layoutZone.layoutId">the {{layoutZone.layoutId | cms_lookupLayoutId}} layout</span>
                                    <span v-else-if="layoutZone.layoutId">the {{layoutZone.componentId | cms_lookupComponentId}} component</span>
                                    <span v-else-if="layoutZone.contentType === 'Html'">HTML localizable as '{{layoutZone.contentName}}'</span>
                                    <span v-else-if="layoutZone.contentType === 'Template'">the {{layoutZone.contentName}} template</span>
                                    <span v-else-if="layoutZone.contentType">the '{{layoutZone.contentName}}' {{layoutZone.contentType | cms_lowercase}}</span>
                                    <span v-else>the default content defined by the layout</span>
                                </p>
                            </div>
                            <div class="cms_field" v-if="currentRegionVersion.componentName || currentRegionVersion.componentId">
                                <label>Region component</label>
                                <p v-if="currentRegionVersion.componentName" class="cms_field">{{currentRegionVersion.componentName}}</p>
                                <p v-else class="cms_field">{{currentRegionVersion.componentId | cms_lookupComponentId}}</p>
                            </div>
                            <div class="cms_field" v-if="currentRegionVersion.assetName">
                                <label>Region HTML</label>
                                <p class="cms_field">{{currentRegionVersion.assetName}}</p>
                                <p class="cms_field">{{currentRegionVersion.assetValue}}</p>
                            </div>
                            <div class="cms_field" v-if="currentRegionVersion.regionTemplates && currentRegionVersion.regionTemplates.length > 0">
                                <label>Region templates</label>
                                <p v-for="template in currentRegionVersion.regionTemplates" class="cms_field">
                                    {{template.pageArea}} area of the page contains the {{template.templatePath}} template
                                </p>
                            </div>

                            <div class="cms_field" v-if="currentRegionVersion.repeatDataTypeId">
                                <h3>Repeat the contents of this region</h3>
                                <div class="cms_field">
                                    <label>Repeat for each</label>
                                    <p>
                                        {{currentRegionVersion.repeatDataTypeId | cms_lookupDataTypeId}}
                                        <span v-if="currentRegionVersion.repeatDataScopeId">
                                            in {{currentRegionVersion.repeatDataScopeId | cms_lookupDataScopeId}} scope
                                        </span>
                                        <span v-else-if="currentRegionVersion.repeatDataScoeName">
                                            in {{currentRegionVersion.repeatDataScopeName}} scope
                                        </span>
                                    </p>
                                </div>
                                <div class="cms_field" v-if="currentRegionVersion.listElementTag">
                                    <label>List item Html tag</label>
                                    <p class="cms_field">{{currentRegionVersion.listElementTag}}</p>
                                </div>
                                <div class="cms_field" v-if="currentRegionVersion.listElementStyle">
                                    <label>List item custom style</label>
                                    <p class="cms_field">{{currentRegionVersion.listElementStyle}}</p>
                                </div>
                                <div class="cms_field" v-if="currentRegionVersion.listElementClasses">
                                    <label>List item additional CSS classes</label>
                                    <p class="cms_field">{{currentRegionVersion.listElementClasses}}</p>
                                </div>
                                <div v-if="currentRegionVersion.listDataScopeId || currentRegionVersion.listDataScopeName">
                                    <label>Resolve list item data</label>
                                    <span v-if="currentRegionVersion.repeatDataScopeId">
                                        Using {{currentRegionVersion.listDataScopeId | cms_lookupDataScopeId}} scope
                                    </span>
                                    <span v-else-if="currentRegionVersion.repeatDataScoeName">
                                        Using {{currentRegionVersion.listDataScopeName}} scope
                                    </span>
                                </div>
                            </div>

                            <div class="cms_field" v-if="currentRegionVersion.components && currentRegionVersion.components.length > 0">
                                <label>Dependant components</label>
                                <ul><li v-for="component in currentRegionVersion.components">{{component.componentId|cms_lookupComponentId}}</li></ul>
                            </div>
                            <div class="cms_field" v-if="currentRegionVersion.dataScopes && currentRegionVersion.dataScopes.length > 0">
                                <label>Data scopes</label>
                                <ul><li v-for="scope in currentRegionVersion.dataScopes">{{scope.dataScopeId|cms_lookupDataScopeId}}</li></ul>
                            </div>
                            <div class="cms_field" v-if="currentRegionVersion.dataTypes && currentRegionVersion.dataTypes.length > 0">
                                <label>Data needs</label>
                                <ul><li v-for="type in currentRegionVersion.dataTypes">{{type.dataTypeId|cms_lookupDataTypeId}}</li></ul>
                            </div>

                            <div class="cms_field" v-if="currentRegionVersion.description">
                                <label>Description</label>
                                <p>{{currentRegionVersion.description}}</p>
                            </div>
                            <div class="cms_field">
                                <label>Created</label>
                                <p>{{currentRegionVersion.createdWhen|cms_formatDateTime}} by {{currentRegionVersion.createdBy|cms_formatUserUrn}}</p>
                            </div>
                            <div class="cms_button_bar">
                                <button type="button" v-on:click="chooseRegionVersion">Choose</button>
                                <button type="button" v-on:click="editRegionVersion">Edit</button>
                                <button type="button" v-on:click="newRegionVersion">Copy</button>
                                <button type="button" v-on:click="deleteCurrentRegionVersion">Delete</button>
                            </div>
                            <div class="cms_spacer_medium">&nbsp;</div>
                        </div>
                        <div v-if="regionVersionMode === 'delete'">
                            <h2>Confirm Region Version Deletion</h2>
                            <p>
                                This will delete version {{currentRegionVersion.version}} of the {{currentRegion.displayName}} region.
                                This region will disapear from any versions of the website that use this version of
                                the {{currentRegion.displayName}} region.
                            </p>
                        </div>
                        <div v-if="regionVersionMode === 'choose'">
                            <h2>Choose Region Version</h2>
                            <p>
                                Which version of the {{currentRegion.displayName}} region do you want to use for the
                                {{websiteVersion.displayName}} version of the website
                                <span v-if="scenario"> when the {{scenario.displayName|cms_lowercase}} a/b testing scenario is in use</span>?
                            </p>
                            <cms-choose-element-version v-bind:element-type="currentRegion.recordType"
                                                        v-bind:element-id="currentRegion.recordId"
                                                        v-bind:selected-version-id="currentRegionVersion == undefined ? null : currentRegionVersion.recordId"
                                                        @select-version="selectRegionVersion"
                                                        @copy-version="copySelectedRegionVersion">
                            </cms-choose-element-version>
                            <div class="cms_button_bar">
                                <button type="button" v-on:click="updateRegionVersion">Update</button>
                                <button type="button" v-on:click="clearRegionVersion">None</button>
                                <button type="button" v-on:click="cancelVersionChanges">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </cms-tab>
        <cms-tab name="Preview">
            <cms-region-preview v-if="currentRegionVersion" v-bind:region-version="currentRegionVersion"></cms-region-preview>
        </cms-tab>
        <cms-tab name="Versions">
            <div v-if="currentRegion == undefined || currentRegion.recordId == undefined">
                <p>Choose a region from the list on the left to compare versions of this region</p>
            </div>
            <div v-else>
                <h2>Compare versions of the {{currentRegion.displayName|cms_lowercase}} region</h2>
                <p>Choose versions to compare from the list below</p>
                <cms-multi-select-element-versions v-bind:element-type="currentRegion.recordType"
                                                   v-bind:element-id="currentRegion.recordId"
                                                   v-bind:show-delete-button="true"
                                                   @toggle-version="toggleRegionVersion"
                                                   @delete-version="deleteChooseRegionVersion">
                </cms-multi-select-element-versions>
                <h2>Comparison matrix</h2>
                <p>Use the table below to compare the selected versions</p>
                <table>
                    <tr><td></td><th v-for="version in compareRegionVersions">{{version.displayName}}</th></tr>
                    <tr><th>Version</th><td v-for="version in compareRegionVersions">{{version.version}}</td></tr>

                    <tr>
                        <th>Repeat</th>
                        <td v-for="version in compareRegionVersions">
                            <p v-if="version.repeatDataTypeId">
                                Repeat for each {{version.repeatDataTypeId|cms_lookupDataTypeId}}
                                <span v-if="version.repeatDataScopeId"> with {{version.repeatDataScopeId|cms_lookupDataScopeId}} scope</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>Content data scope</th>
                        <td v-for="version in compareRegionVersions">
                            <p v-if="version.listDataScopeId">{{version.listDataScopeId|cms_lookupDataScopeId}}</p>
                            <p v-else-if="version.listDataScopeName">{{version.listDataScopeName}}</p>
                        </td>
                    </tr>
                    <tr>
                        <th>Content</th>
                        <td v-for="version in compareRegionVersions">
                            <div v-if="version.layoutName || version.layoutId">
                                <p v-if="version.layoutName">The {{version.layoutName}} layout</p>
                                <p v-else>The {{version.layoutId|cms_lookupLayoutId}} layout</p>
                                <p v-for="layoutZone in version.layoutZones">
                                    The {{layoutZone.zone}} layout zone contains
                                    <span v-if="layoutZone.regionId">the {{layoutZone.regionId|cms_lookupRegionId}} region</span>
                                    <span v-else-if="layoutZone.layoutId">the {{layoutZone.layoutId|cms_lookupLayoutId}} layout</span>
                                    <span v-else-if="layoutZone.layoutId">the {{layoutZone.componentId|cms_lookupComponentId}} component</span>
                                    <span v-else-if="layoutZone.contentType === 'Html'">HTML localizable as '{{layoutZone.contentName}}'</span>
                                    <span v-else-if="layoutZone.contentType === 'Template'">the {{layoutZone.contentName}} template</span>
                                    <span v-else-if="layoutZone.contentType">the '{{layoutZone.contentName}}' {{layoutZone.contentType|cms_lowercase}}</span>
                                    <span v-else>the default content defined by the layout</span>
                                </p>
                            </div>
                            <div v-else-if="version.componentName || version.componentId">
                                <p v-if="version.componentName">The {{version.componentName}} component</p>
                                <p v-else>The {{version.componentId|cms_lookupComponentId}} component</p>
                            </div>
                            <p v-else-if="version.assetValue">Render the {{version.assetValue}} HTML asset</p>
                            <p v-else v-for="template in version.regionTemplates">Render the {{template.templatePath}} template in the page {{template.pageArea|cms_lowercase}}</p>
                        </td>
                    </tr>
                    <tr><th>Content tag</th><td v-for="version in compareRegionVersions">{{version.listElementTag}}</td></tr>
                    <tr><th>Content style</th><td v-for="version in compareRegionVersions">{{version.listElementStyle}}</td></tr>
                    <tr><th>Content classes</th><td v-for="version in compareRegionVersions">{{version.listElementClasses}}</td></tr>
                    <tr><th>Assets</th><td v-for="version in compareRegionVersions"><span v-if="version.assetDeployment==='PerModule'">{{version.moduleName}} module</span><span v-else>{{version.assetDeployment}}</span></td></tr>
                    <tr>
                        <th>Components</th>
                        <td v-for="version in compareRegionVersions">
                            <p v-for="component in version.components">
                                <span v-if="component.componentId">{{component.componentId|cms_lookupComponentId}}</span>
                                <span v-else-if="component.component">{{component.component}}</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>Data types</th>
                        <td v-for="version in compareRegionVersions">
                            <p v-for="dataType in version.dataTypes">{{dataType.dataTypeId|cms_lookupDataTypeId}}</p>
                        </td>
                    </tr>
                    <tr>
                        <th>Data scopes</th>
                        <td v-for="version in compareRegionVersions">
                            <p v-for="dataScope in version.dataScopes">{{dataScope.dataScopeId|cms_lookupDataScopeId}}</p>
                        </td>
                    </tr>
                </table>
            </div>
        </cms-tab>
        <cms-tab name="History">
            <div v-if="currentRegion == undefined || currentRegion.recordId == undefined">
                <p>
                    No region currently selected for history.
                    Choose a region from the list on the left.
                    If the list of regions is empty this is because the selected website version contains no regions.
                </p>
            </div>
            <div v-else>
                <cms-history-period v-if="currentRegionVersion == undefined || currentRegionVersion.recordId == undefined"
                                    v-bind:label="currentRegion.displayName + ' region change history'"
                                    v-bind:record-type="currentRegion.recordType"
                                    v-bind:record-id="currentRegion.recordId">
                </cms-history-period>
                <cms-history-period v-else
                                    v-bind:label="currentRegion.displayName + ' region version ' + currentRegionVersion.version + ' change history'"
                                    v-bind:record-type="currentRegionVersion.recordType"
                                    v-bind:record-id="currentRegionVersion.recordId">
                </cms-history-period>
            </div>
        </cms-tab>
    </cms-tabs>
</div>
