<div id="cms_website_version_editor" class="cms_panel" v-if="visible">
    <cms-tabs>
        <cms-tab name="Details" selected="true">
            <div v-if="currentWebsiteVersion == undefined && mode === 'view'">
                <h2>No website version selected</h2>
                <p>
                    No website version currently selected for editing.
                    Choose a website version from the list on the left.
                    If the list of website versions is empty this is because you have not created any versions of the website yet.
                </p>
                <div class="cms_button_bar">
                    <button type="button" v-on:click="newWebsiteVersion">New</button>
                </div>
            </div>
            <div v-else>
                <div v-if="mode === 'new' || mode === 'edit'">
                    <h2 v-if="mode === 'new'">Create New Website Version</h2>
                    <h2 v-if="mode === 'edit'">Edit Website Version Details</h2>
                    <div class="cms_sub_panel">
                        <cms-display-name-field-editor label="Display this version in CMS manager as"
                                                       placeholder="My website version"
                                                       v-bind:display-name="editingWebsiteVersion.displayName"
                                                       @display-name-changed="editingWebsiteVersion.displayName=$event">
                        </cms-display-name-field-editor>
                        <cms-element-name-field-editor label="Website version name"
                                                       placeholder="unique_version_name"
                                                       v-bind:element-name="editingWebsiteVersion.name"
                                                       @element-name-changed="editingWebsiteVersion.name=$event">
                        </cms-element-name-field-editor>
                        <cms-description-field-editor v-bind:description="editingWebsiteVersion.description"
                                                      @description-changed="editingWebsiteVersion.description=$event">
                        </cms-description-field-editor>
                    </div>
                    <div class="cms_validation_error_list" v-if="errors.length > 0">
                        <p v-for="error in errors">{{error}}</p>
                    </div>
                    <div class="cms_button_bar">
                        <button v-if="mode === 'new'" type="button" v-on:click="createNew">Create</button>
                        <button v-if="mode === 'edit'" type="button" v-on:click="saveChanges">Save</button>
                        <button type="button" v-on:click="cancelChanges">Cancel</button>
                    </div>
                </div>
                <div v-if="mode === 'view'">
                    <h2>Version {{currentWebsiteVersion.displayName}} of the website</h2>
                    <div class="cms_field">
                        <label>Name</label>
                        <p>{{currentWebsiteVersion.name}}</p>
                    </div>
                    <div class="cms_field">
                        <label>Description</label>
                        <p>{{currentWebsiteVersion.description}}</p>
                    </div>
                    <div class="cms_field">
                        <label>Created</label>
                        <p>{{currentWebsiteVersion.createdWhen|cms_formatDateTime}} by {{currentWebsiteVersion.createdBy|cms_formatUserUrn}}</p>
                    </div>
                    <div class="cms_button_bar">
                        <button type="button" v-on:click="editWebsiteVersion">Edit</button>
                        <button type="button" v-on:click="newWebsiteVersion">New</button>
                        <button type="button" v-on:click="deleteWebsiteVersion">Delete</button>
                    </div>
                </div>
                <div v-if="mode === 'delete'">
                    <h2>Confirm Website Version Deletion</h2>
                    <p>
                        This will delete the "{{currentWebsiteVersion.name}}" version of the website.
                        You will not longer be able to choose the {{currentWebsiteVersion.displayName}} version
                        of the website for an environment, and any environments that currently use this website
                        version will become unusable.
                    </p>
                    <p>This operation cannot be undone. Are you sure?</p>
                    <div class="cms_button_bar">
                        <button type="button" v-on:click="confirmDelete">Delete</button>
                        <button type="button" v-on:click="cancelChanges">Cancel</button>
                    </div>
                </div>
            </div>
        </cms-tab>
        <cms-tab name="History">
            <div v-if="currentWebsiteVersion == undefined || currentWebsiteVersion.recordId == undefined">
                <p>
                    No website version currently selected for history view.
                    Choose a website version from the list on the left.
                    If the list of website versions is empty this is because you have not created any versions of the website yet.
                </p>
            </div>
            <cms-history-period v-else
                                v-bind:label="currentWebsiteVersion.displayName + ' version history'"
                                v-bind:record-type="currentWebsiteVersion.recordType"
                                v-bind:record-id="currentWebsiteVersion.recordId">
            </cms-history-period>
        </cms-tab>
    </cms-tabs>
</div>