<div id="cms_website_version_editor" class="cms_panel" v-if="visible">
    <div v-if="currentWebsiteVersion == undefined && mode === 'view'">
        <h2>No website version selected</h2>
        <p>
            No website version currently selected for editing. Choose a website version from the list on the left. If the
            list of website versions is empty this is because you have not created any versions of the website yet.
        </p>
        <div class="cms_button_bar">
            <button type="button" v-on:click="newWebsiteVersion">New</button>
        </div>
    </div>
    <div v-else>
        <div v-if="mode === 'new' || mode === 'edit'">
            <h2 v-if="mode === 'new'">Create New Website Version</h2>
            <h2 v-if="mode === 'edit'">Edit Website Version Details</h2>
            <label class="cms_field">Show as</label>
            <input type="text" class="cms_field__display_name" v-model="editingWebsiteVersion.displayName" placeholder="Display name" v-bind:pattern="displayNamePattern" required>
            <label class="cms_field">Name</label>
            <input type="text" class="cms_field__name" v-model="editingWebsiteVersion.name" placeholder="unique_name" v-bind:pattern="namePattern" required>
            <label class="cms_field">Description</label>
            <textarea class="cms_field__description" v-model="editingWebsiteVersion.description" placeholder="Optional description"></textarea>
            <div class="cms_validation_error_list" v-if="errors.length > 0">
                <p v-for="error in errors">{{error}}</p>
            </div>
            <div class="cms_button_bar">
                <button v-if="mode === 'new'" type="button" v-on:click="createNew">Create</button>
                <button v-if="mode === 'edit'" type="button" v-on:click="saveChanges">Save</button>
                <button type="button" v-on:click="cancelChanges">Cancel</button>
            </div>
        </div>
        <div v-if="mode === 'view'">
            <h2>Version {{currentWebsiteVersion.displayName}} of the website</h2>
            <label class="cms_field">Name</label>
            <p class="cms_field">{{currentWebsiteVersion.name}}</p>
            <label class="cms_field">Created</label>
            <p class="cms_field">{{currentWebsiteVersion.createdWhen | cms_formatDate}} by {{currentWebsiteVersion.createdBy | cms_formatUserUrn}}</p>
            <label class="cms_field">Description</label>
            <p class="cms_field">{{currentWebsiteVersion.description}}</p>
            <div class="cms_button_bar">
                <button type="button" v-on:click="editWebsiteVersion">Edit</button>
                <button type="button" v-on:click="newWebsiteVersion">New</button>
                <button type="button" v-on:click="deleteWebsiteVersion">Delete</button>
            </div>
        </div>
        <div v-if="mode === 'delete'">
            <h2>Confirm Website Version Deletion</h2>
            <p>
                This will delete the "{{currentWebsiteVersion.name}}" website version.
                You will not longer be able to choose the "{{currentWebsiteVersion.name}}" version
                to use in an environment. Any environments that currently use this website
                version will become unusable.
            </p>
            <p>This operation cannot be undone. Are you sure?</p>
            <div class="cms_button_bar">
                <button type="button" v-on:click="confirmDelete">Delete</button>
                <button type="button" v-on:click="cancelChanges">Cancel</button>
            </div>
        </div>
    </div>
</div>