<h1>Change password</h1>
<p>
    Use the form below to change your password.
</p>
<p>
    We recommend changing your password at least every three months to keep your account secure.
</p>
<p>
    Your new password must be at least 8 characters long. The longer you make it the more secure it will be.
    Using numbers and special characters does not significantly increase the security of your password
    but makes it much harder to remember so we do not recommend this. The most effective password
    comprises totally unrelated words that exceed 18 characters in length. These password are very hard to
    crack but very easy to remember.
</p>
<p>
    We recommend using different passwords on each website that you use. This means that if one website
    gets hacked and they crack your password the hackers will not have the password to all of your other
    accounts.
</p>
<form id="change-password-form" method="post" action="/account/change-password">
    <div class="sample5_field">
        <label for="change-password-email" class="email">Email</label>
        <input id="change-password-email" type="email" name="email" placeholder="me@provider.com" />
    </div>
    <div class="sample5_field">
        <label for="change-password-old-password" class="password">Current password</label>
        <input id="change-password-old-password" type="password" name="password" />
    </div>
    <div class="sample5_field">
        <label for="change-password-new-password" class="password">New password</label>
        <input id="change-password-new-password" type="password" name="newPassword" />
    </div>
    <div class="sample5_button_bar">
        <input type="submit" value="Change password">
    </div>
</form>
