<h1>Request a password reset email</h1>
<p>
    Enter your email address below and we will send an email that will allow you to reset your password.
</p>
<form id="password-reset-form" method="post" action="/account/reset-password">
    <div class="sample5_field">
        <label for="password-reset-email" class="email">Email</label>
        <input id="password-reset-email" type="email" name="email" placeholder="me@provider.com" />
    </div>
    <div class="sample5_button_bar">
        <input type="submit" value="Reset password">
    </div>
</form>
