<h1>This is the home page</h1>
<p>
    This sample is intended to be a starting point for building a new
    website. You should copy this project, rename Sample5 to the name
    of your website and replace the content with your website content.
</p>
<h2>Features</h2>
<ul>
    <li>Standard header and footer on all pages</li>
    <li>Master page defines shared page elements</li>
    <li>Page content defined by HTML templates</li>
    <li>Styles defined in LESS syntax</li>
    <li>Support for Vue.js view models</li>
    <li>Responsive data driven menu</li>
    <li>Users can create an account then login agian later. Includes password reset etc</li>
    <li>Favicon support</li>
    <li>Starting point for packages and modules</li>
</ul>
<h2>To Do</h2>
<div>
    <p>To turn this into your website yo need to</p>
    <ul>
        <li>Copy this project and check it into source control</li>
        <li>Check that the website compiles and runs</li>
        <li>Case sensitive search and replace all occurences of Sample5 and sample5 with the name of your website. You must do this in every file including the csproj file.</li>
        <li>Check that the website still compiles and runs</li>
        <li>Modify the html that is output by the PageHeadComponent class</li>
        <li>Define the menu navigation for your website in the MenuDataProvider clsss</li>
        <li>Replace this html with the content of your home page</li>
        <li>Replace the html in the FooterComponent class with the footer text you want or change it to render a template</li>
        <li>Change main.less to the styling you prefer</li>
        <li>Add templates for the other static pages on your website under /web/templates/pages</li>
        <li>Route requests to pages by making a copy of the HomePage class for each page on your website</li>
    </ul>
    <p>For more advanced use cases you may also need to</p>
    <ul>
        <li>Create Vue.js view models by adding .vue and .js files to the /web/templates folder</li>
        <li>Write some Data Providers then add data binding expressions to your .html templates</li>
        <li>Localize the text on your website</li>
        <li>Add AJAX services that can be called from client-side javascript</li>
    </ul>
    <p>All of these additional steps are fully supported by the Owin Framework</p>
</div>