<div id="cms_manager" class="cms_manager">
    <div class="cms_main">
        <div class="cms_left_panel">
            <select id="cms_top_area_selector" v-on:change="selectArea($event)">
                <option v-for="area in areas" v-bind:value="area.name" v-bind:selected="area.selected">{{area.displayName}}</option>
            </select>
            <div id="cms_top_select_view" class="cms_panel"></div>
        </div>
        <div class="cms_right_panel">
            <div id="cms_top_edit_view" class="cms_panel"></div>
        </div>
        <div class="cms_clear"></div>
    </div>
    <div class="cms_main">
        <div id="cms_bottom_context_display" class="cms_panel"></div>
        <div class="cms_left_panel">
            <select id="cms_bottom_area_selector" v-on:change="selectArea($event)">
                <option v-for="area in areas" v-bind:value="area.name" v-bind:selected="area.selected">{{area.displayName}}</option>
            </select>
            <div id="cms_bottom_select_view" class="cms_panel"></div>
        </div>
        <div class="cms_right_panel">
            <div id="cms_bottom_edit_view" class="cms_panel"></div>
        </div>
        <div class="cms_clear"></div>
    </div>
    <div id="cms_tools" class="cms_main">
        <div class="cms_panel">
            <ul class="cms_tabs">
                <li class="cms_is_active">Live Log</li>
                <li>Versions</li>
                <li>A/B Tests</li>
                <li>History</li>
            </ul>
        </div>
        <div id="cms_tool_view" class="cms_panel"></div>
    </div>
</div>
