<div id="cms_manager" class="cms_manager">
    <h1>CMS Manager</h1>
    <div class="cms_main">
        <div class="cms_left_panel">
            <select id="cms_area_selector" v-on:change="selectArea($event)">
                <option v-for="area in areas" v-bind:value="area.name">{{area.displayName}}</option>
            </select>
            <div id="cms_select_view" class="cms_panel"></div>
        </div>
        <div class="cms_right_panel">
            <div id="cms_edit_view" class="cms_panel"></div>
        </div>
    </div>
    <div id="cms_tool_view" class="cms_panel"></div>
</div>
