h1 { font-size: 18px; padding-top: 0; margin-top: 0; padding-bottom: 5px; margin-bottom: 10px; border-bottom: 1px solid black; }
h2 { font-size: 15px; padding-top: 0; margin-top: 0; padding-bottom: 2px; margin-bottom: 3px; }
h3 { font-size: 12px; padding-top: 0; margin-top: 0; padding-bottom: 2px; margin-bottom: 3px; }
p { padding: 0; margin-top: 0; margin-bottom: 3px; }

body { font-size: 12px; padding: 3px; margin: 10px; }

rect { stroke-width: 0.4; }
text { stroke-width: 0.1; }

line.parent { stroke:#00008B }
line.inherits { stroke:#00008B }

g.layout rect { stroke:#FF0000; fill:#FFE4C4; }
g.layout text { stroke:#000000; fill:#000000; }

g.region rect { stroke: #6A5ACD; fill: #FFE4E1; }
g.region text { stroke:#000000; fill:#000000; }

g.component rect { stroke:#808080; fill:#F5F5DC; }
g.component text { stroke:#696969; fill:#696969; }

g.datascope rect { stroke:#808080; fill:#F5F5DC; }
g.datascope text { stroke:#696969; fill:#696969; }
